.candy-wrapper {
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
   
    h1 {
        font-size: 100%;
        @media (min-width: 560px) {
          font-size: 200%;
        }
        &:nth-child(2) {
          margin-bottom: 1rem;
        }
        font-weight: bold;      
    }

    div.candy-game {
        display: flex;
        flex-wrap: wrap;
        width: 320px;
        height: 320px;
        @media (min-width: 360px) {
          width: 360px;
          height: 360px;
        }
        @media (min-width: 400px) {
          width: 400px;
          height: 400px;
        }
        @media (min-width: 560px) {
          width: 560px;
          height: 560px;
        }
        img {
            width: 40px;
            height: 40px;
            @media (min-width: 360px) {
              width: 45px;
              height: 45px;
            }
            @media (min-width: 400px) {
              width: 50px;
              height: 50px;
            }
            @media (min-width: 560px) {
              width: 70px;
              height: 70px;
            }
          
        }    
    }

    div.candy-rules {
        font-size: 75%;
        @media (min-width: 560px) {
          font-size: 100%;
        }
      
        margin-top: 4rem;
        font-weight: bold;
        text-align: center;
        ul {
          margin-top: 0;
          li {
            text-align: left;
            font-weight: normal;
          }
        }      
    }
  
}